
.follower-side-container{
    width: 87%;
    display: inline-block;
    padding: 20px 30px 0px 30px;
}
.follower-title-text{
    font-family: sans-serif;
    font-weight: bold;
    font-size:16px;
    line-height: 20px;
}
.follower-container{
    /* border:2px dotted red; */
    margin-top: 10px;
    margin-bottom: 15px;
}
.follower-line{
    display: flex;
    align-items: center;
}
.follower-user-profil-img{
    background-image: url(../../public/images/kedi.PNG);
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-right: 10px;
}
.follower-user-name{
    font-size: 13px;
    line-height: 20px;
    font-family: sans-serif;
    color:#757575;
    cursor: pointer;
    padding: 6px 0;
}
.follower-user-name:hover{
    color:#191919;
    text-decoration: underline;

}
.follower-line-follow-button{
    width: 70px;
    text-align: center;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: 15%;
    color:#353535;
    font-size: 13px;
    padding: 4px 6px;
    border:1px solid #353535;
    border-radius: 100px;
    cursor: pointer;
}
.follower-line-follow-button:hover{
    color:black;
    border-color: black;
}
.follower-line-following-button{
    width: 70px;
    text-align: center;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: 15%;
    background-color: rgb(75,75,75);
    color:white;
    font-size: 13px;
    padding: 4px 6px;
    border:1px solid rgb(75,75,75);
    border-radius: 100px;
    cursor: pointer;
}
.follower-line-following-button:hover{
    background-color: rgb(29,29,29);
    border:1px solid rgb(29,29,29);
}
.follower-see-all{
    font-size:13px;
    line-height: 20px;
    font-family: sans-serif;
    color:#757575;
    cursor: pointer;
}
.follower-see-all:hover{
    color:#191919;
}