
.latest-post-right-div{
    /* border:1px solid green; */
    width: 85%;
    display: inline-block;
    padding: 60px 30px 10px 30px;
}
.div-lct-save{
    margin-top: 1%;
}
.recently-saved-text{
    font-size: 16px;
    line-height: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color:#292929;
}
.recently-saved-bottom{
    display: flex;
    align-items: center;
}
.text-ns{
    font-size:13px;
    line-height: 16px;
    font-family: sans-serif;
    color:#292929;
}
.div-lct{
    margin-top: 1%;
}
.profil-img{
    
    background-image: url(../../public/images/profil.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    margin-right: 10px;
}
.dib{
    display: inline-block;
}
.text-contents{
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin-top:10px;
    color:#292929;
}
.db{
    display: block;
}
.datetime-text{
    font-size: 13px;
    padding-top:10px;
    color: rgb(75,75,75);
    line-height: 10px;
    font-family: sans-serif;
}
.div-lct{
    /* border:1px solid red; */
    margin-top: 30px;
}
.button-see{
    border: none;
    background-color: white;
    color: rgb(75,75,75);
    font-size: 14px;
    line-height: 20px;
    font-family: sans-serif;
    margin-top: 3%;
    position: relative;
    cursor: pointer;

}
.button-see:hover{
    color:#191919;
   
}