.my-link{
  text-decoration: none;
}
.title-content-container p.is-editor-empty:first-child::before {
  color: #9c9c9c;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
  font-size:30px;
  line-height: 40px;
  font-family: 'Poltawski Nowy', serif;
  font-style: italic;
  /* font-weight:bolder; */
  letter-spacing: 2px;
  text-transform: none;
}
.writing-content-container p.is-editor-empty:first-child::before {
  color: #9c9c9c;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
  font-size: 21px;
  line-height: 33px;
  font-family: 'Poltawski Nowy', serif;
  font-style: italic;
  /* font-weight:bolder; */
  letter-spacing: 2px;
  text-transform: none;
}
  .ProseMirror:focus {
    outline: none;
  }

  .ProseMirror>*+* {
    margin-top: 0.10em;
    border: none;
  }

  .ProseMirror ul,
  .ProseMirror ol {
    padding-left: 35px;
  }

  .ProseMirror h2 {
    line-height: 3.5rem;
    font-size: 30px;
    font-style: normal;
    font-weight: lighter;
  }

  .ProseMirror img {
    max-width: 700px;
    margin: 25px 0px;
  }

  .ProseMirror blockquote {
    padding-left: 10px;
    border-left: 3px solid #292727;
    font-style: italic;
    color: #454545;
    margin-left: 0px;
    font-size: 21px;
    line-height: 30px;

  }