.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .navbar {
    width: 100%;
    height: 55px;
  }
  
  .content {
    margin-top:55px;
    display: flex;
    flex: 1;
  }
  .main-content {
    flex: 1; 
    width: 66%;
    
  }
  .sidebar {
    width: 34%;
    border-left:1px solid #ececec;
    
  }
  
  
  
  .profilePage-right {
  }
  
  .profilePage-Middle {
  }
  