/* *{
    margin: 0px;
} */
.header-div{
    height: 55px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom:1px solid #ececec;

}
.header-left{
    width: 500px;
    height: 55px;
    display: flex;
    align-items: center;
}
.logo-img{
    /* border:1px solid red; */
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}
.header-search{
    margin-left: 40px;
    display: flex;
    align-items: center;
}
.search-icon{
    font-size:25px;
    margin-right: 10px;
    color:#505050;
}
.search-box{
    font-size:16px;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    color:#505050;
    width: 180px;
}
.search-box:focus{
    outline: none;
}
.header-right{
    width: 265px;  /*DEĞİŞTİRİLECEK BOYUT*/
    height: 53px;
    float: right;
    display: flex;
    align-items: center;
}
.write-side{
    display: flex;
    align-items: center;
    margin-right: 30px;
    cursor:pointer;
}
.write-icon{
    background-image: url(../../../public/images/writeLight.png);
    background-position: center;
    background-size: cover;
    width: 27px;
    height: 27px;
    margin-right: 5px;
   
}

.write-icon-text{
    font-size:14px;
    list-style: 20px;
    font-family: sans-serif;
    color:#757575;
    letter-spacing: 1px;
}
.write-side:hover .write-icon{
    background-image: url(../../../public/images/writeDark.png); 
}
.write-side:hover .write-icon-text{
   color:#292929;
}
.dib{
    display: inline-block;
}
.div-notification{
    margin-right: 30px;
}
.notification-icon{
    width: 21px;
    height: 21px;
    background-image: url(../../../public/images/notificationLight.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.notification-icon:hover{
    background-image: url(../../../public/images/notificationDark.png);
}


.profile-image{
    background-image: url(../../../public/images/profil.jpg);
    background-position: center;
    background-size: cover;
    width: 38px;
    height: 38px;
    border-radius:50%;
    margin-bottom:2px;
    cursor: pointer;
    margin-left:50px;
    position: relative
}
.profile-menu-text-container{
    /* border:3px solid blue; */
    border:1px solid #ececec;
    border-top:none;
    margin-top:10px;
    position: absolute;
}

.profile-menu-text-li{
    /* border:1px solid green; */
    font-family: sans-serif;
    font-size: 15px;
    line-height: 20px;
    width: 100px;
    list-style: none;
    padding:6px 10px;
    cursor:pointer;
    background-color:white;
    display: flex;
    align-items: center;
    color:#292929;
    padding-left: 15px;
   
}
.profile-menu-text-li:hover{
    background-color:#ececec;
}
.profile-dd-icons{
    padding-right: 5px;
    color:#292929;
    font-size:18px;

}
.dd-link{
    text-decoration: none;
    color:#292929;
}