/* *{
    margin:0;
    padding: 0;
  } */
  .tooltip{
    position: relative;
    display: inline-block;
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    border:1px solid #3a3a3a;
    color:#3a3a3a;
    background-color: white;
    /* text-align: center; */
    border-radius: 3px;
    padding: 4px;
    position: absolute;
    z-index: 111111111;
    bottom: 150%;
    left: 50%; /* Orta yerine sol kenar hizalama */
    transform: translateX(-50%); /* Merkezi hizalamak için yatayda kaydırma */
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tooltiptext {
    font-size: 11px;
    /* font-family:'Times New Roman', Times, serif; */
    font-family: sans-serif;
    letter-spacing: 1px;
    line-height: 12px;
    white-space: nowrap; 
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #3a3a3a transparent transparent transparent;
    background-color: white;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }